<div class="nav-container">

  <nav class="navbar navbar-expand-md bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;">Bilba</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color: white;">Anasayfa</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;">Link</a>
          </li> -->
  
  <!-- 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="color: white;" aria-expanded="false">
              Ürünler
            </a>
            <ul class="dropdown-menu" style="list-style: none;">
              <li><a class="dropdown-item" href="#">Kurumsal Notebook</a></li>
              <li><a class="dropdown-item" href="#">Kasalar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Başka Başka</a></li>
            </ul>
          </li> -->
  
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" style="color: white;">Ürünler</a>
          </li> -->
  
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="contact" style="color: white;">İletişim</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Site içi arama" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Ara</button>
        </form>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>

  
</div>






